<!-- <div style="margin: 10px;">
  <p>Processing Image...</p>
  <p>Please don't leave this page.</p>
  <mat-spinner style="margin: auto"></mat-spinner>
</div> -->
<mat-card>
  <mat-card-title>We think it's a {{ prediction }}!</mat-card-title>
</mat-card>
<mat-card style="margin-top:10px; margin-bottom:10px;">
  <img id="myImage" width="100%" src="assets/placeholder.png" alt="Your Photo">
</mat-card>
<mat-card>
  <p>Did we get it right? Let us know at <u>fruitsnap@gmail.com!</u></p>
</mat-card>
<button style="width: calc(100% - 20px); margin: 0 10px;" mat-raised-button routerLink="/capture">Try Again?</button>