<mat-card>
  <mat-card-title>About</mat-card-title>
  <p>Welcome to Fruit Snap! This is an Angular web application which utilizes Google's TensorFlow machine learning
    technology to try and guess the type of fruit in a picture! You snap the photo and we'll do the rest!</p>
  <p style="text-align: right; font-size: 12px;">Made by Kyle Glandt and Jared Graham</p>
</mat-card>
<mat-card>
  <h3>TensorFlow</h3>
  <p>TensorFlow is an open source software library for high performance numerical computation. Its flexible
    architecture allows easy deployment of computation across a variety of platforms (CPUs, GPUs, TPUs), and from
    desktops to clusters of servers to mobile and edge devices. Originally developed by researchers and engineers from
    the Google Brain team within Google’s AI organization, it comes with strong support for machine learning and deep
    learning and the flexible numerical computation core is used across many other scientific domains.</p>
  <p align=right><a style="color: white;" href="https://www.tensorflow.org/">https://www.tensorflow.org/</a></p>
</mat-card>
<mat-card>
  <h3>Angular</h3>
  <p>Angular is a platform that makes it easy to build applications with the web. Angular combines declarative
    templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges.
    Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
  <p align=right><a style="color: white;" href="https://angular.io/docs">https://angular.io/docs</a></p>
</mat-card>