<div style="margin: 10px;">
  <mat-card style="margin-bottom: 10px;">
    <mat-card-title>Fruit Image Recognition</mat-card-title>
    <mat-card-content>
      <p>Take a picture of a fruit and we'll try to guess what it is!</p>
    </mat-card-content>
    <mat-card-subtitle>* Please center the fruit in your photo. Only include one fruit. Try to take your photo in front
      of a simple background.</mat-card-subtitle>
  </mat-card>
  <label class="upload-button">
    <input hidden="true" type="file" accept="image/x-png,image/jpeg" (change)="onImageChange($event)" #upload />
  </label>
  <button style="width: 100%;" class="select-photo-btn" mat-raised-button (click)="upload.click()">
    Select Photo
  </button>
  <mat-card style="margin-top:10px; margin-bottom:10px;">
    <img id="myImage" width="100%" src="assets/placeholder.png" alt="Your Photo">
  </mat-card>
  <button [disabled]="file == null" style="width: 100%;" mat-raised-button type="button" class="start-upload-btn" (click)="uploadFile()">
    Start Upload
  </button>
  <div [hidden]="prediction == null">I believe that is the fruit: {{prediction}}</div>
</div>